/classes
/lib
/resources/public/flurfunk-web.js
/resources/public/flurfunk-web-dev.js
/temp
/.dir-locals.el
/.lein-*

#Exclude IDEA generated fields:
/.idea
*.iml

#Exclude pom file generated with 'lein pom' (practical for importing project into idea)
/pom.xml
