* {
    font-family: Helvetica, Arial, sans;
    color: #333333;
}

html {
    background-color: #f6f6f6;
}

h1, div#content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #c00;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5px;
}

input, textarea {
    border: 1px solid #bbb;
    vertical-align: middle;
    font-size: 15px;
}

input:focus, textarea:focus {
    border-color: #999;
    outline: none;
}

textarea {
    width: 560px;
    height: 60px;
    display: block;
    margin: 5px auto;
}

div#content {
    padding: 20px 0 0 0;
    background-color: #fff;
    border: 1px solid #bbb;
}

div#content div#author-name, div#content button {
    margin-left: 17px;
}

div#message-container {
    margin-top: 20px;
    font-size: 14px;
}

div#message-container>* {
    border-top: 1px solid #ddd;
    padding: 5px 10px;
}

div#message-container span.author {
    display: block;
    font-weight: bold;
}

div#message-container span.text {
    display: block;
    padding: 5px;
}

button {
    color: #fff;
    background-color: #d44;
    border: 1px solid #b00;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    background-color: #e55;
}

button:active {
    border-color: #000;
    background-color: #c33;
}