* {
    font-family: Helvetica, Arial, sans;
    color: #333333;
}

html {
    background-color: #f6f6f6;
}

h1 {
    color: #c00;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    margin-right: 5px;
}

input, textarea {
    margin: 2px 0 5px 0;
    border: 1px solid #bbb;
    vertical-align: middle;
    font-size: 15px;
}

input:focus, textarea:focus {
    border-color: #999;
    outline: none;
}

textarea {
    width: 100%;
    height: 60px;
    display: block;
    padding: 0;
}

div#content {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

div#messages {
    padding: 20px 0 0 0;
    background-color: #fff;
    border: 1px solid #bbb;
}

div#message-input {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}

div#message-input button {
    margin-left: 0;
}

div#message-list {
    margin-top: 20px;
    font-size: 14px;
}

div#message-list>* {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
}

div#message-list>*:first-child {
    border-top: 1px solid #ddd;
}

div#message-list>*.first-unread {
    border-bottom: 1px solid #888;
}

div#message-list span.author {
    font-weight: bold;
}

div#message-list span.timestamp {
    float: right;
    clear: right;
    font-size: 12px;
    font-style: italic;
}

div#message-list div.text {
    padding: 5px;
}

div#message-list div.text p {
    margin-top: 10px;
    margin-bottom: 0;
}

div#message-list div.text p:first-child {
    margin-top: 0;
}

button {
    color: #fff;
    background-color: #d44;
    border: 1px solid #b00;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
}

button:hover {
    background-color: #e55;
}

button:active {
    border-color: #000;
    background-color: #c33;
}

button.goog-button-disabled, button.goog-button-disabled:hover,
button.goog-button-disabled:active {
    background-color: #d44;
    border: 1px solid #b00;
    opacity: 0.5;
}